.media.item {
    height: 228px;
    overflow: hidden;
    margin-bottom: 20px;
    .cover {
        overflow: hidden;
    }
    &:hover {
        img {
            //Buscamos que el contenedor no crezca
            transform: scale(1.3);
        }
    }
    img {
    	transition: transform 250ms;
        .img-responsive();
    }
    .link {
        color: @main-text-color;
    }
    .wrapper {
        margin: 0 20px 20px 20px;
    }
    .title {
        font-size: 20px;
        margin: 0 0 20px 0;
    }
    .meta {
        .categories ul {
            .horizontal-list();
            li:after {
                content: ",";
            }
            li:last-child:after {
                content: "";
            }
        }
    }
    .rating {
        display: inline;
        margin-left: 20px;
    }
}
